doctype html
head
  title MMGIS Configure
  link(rel='shortcut icon' href='public/images/logos/logo.png')
  link(type='text/css' rel='stylesheet' href='public/fonts/materialdesignicons/css/materialdesignicons.min.css')
  // Import materialize.css
  link(type='text/css' rel='stylesheet' href='config/css/jquery-ui.css')
  link(type='text/css' rel='stylesheet' href='config/css/materialize.min.css' media='screen,projection')
  link(type='text/css' rel='stylesheet' href='config/js/codemirror/codemirror-5.19.0/lib/codemirror.css')
  link(type='text/css' rel='stylesheet' href='config/js/codemirror/codemirror-5.19.0/theme/elegant.css')
  link(type='text/css' rel='stylesheet' href='config/css/keys.css')
  link(type='text/css' rel='stylesheet' href='config/css/datasets.css')
  link(type='text/css' rel='stylesheet' href='config/css/geodatasets.css')
  link(type='text/css' rel='stylesheet' href='config/css/webhooks.css')
  link(type='text/css' rel='stylesheet' href='config/css/config.css')
  // Let browser know website is optimized for mobile
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
// Import jQuery before materialize.js
script(type='text/javascript' src='config/js/jquery.min.js')
script(type='text/javascript' src='config/js/jquery-ui.js')
script(type='text/javascript' src='config/js/papaparse.min.js')
script(type='text/javascript' src='config/js/materialize.min.js')
script(type='text/javascript' src='config/js/codemirror/codemirror-5.19.0/lib/codemirror.js')
script(type='text/javascript' src='config/js/codemirror/codemirror-5.19.0/mode/javascript/javascript.js')
script(type='text/javascript' src='config/js/codemirror/codemirror-5.19.0/mode/markdown/markdown.js')
script(type='text/javascript' src='config/js/codemirror/codemirror-5.19.0/addon/edit/matchbrackets.js')
script(type='text/javascript' src='config/js/codemirror/codemirror-5.19.0/addon/display/autorefresh.js')
script.
    var mmgisglobal = {};
    mmgisglobal.SERVER = 'node';
    mmgisglobal.AUTH = '#{AUTH}';
    mmgisglobal.SHOW_AUTH_TIMEOUT = true;
    mmgisglobal.user = '#{user}';
    mmgisglobal.NODE_ENV = '#{NODE_ENV}';
    mmgisglobal.ROOT_PATH = '#{ROOT_PATH}';
    mmgisglobal.WEBSOCKET_ROOT_PATH = '#{WEBSOCKET_ROOT_PATH}';
    mmgisglobal.PORT = '#{PORT}'
    mmgisglobal.ENABLE_CONFIG_WEBSOCKETS = '#{ENABLE_CONFIG_WEBSOCKETS}'
    mmgisglobal.ENABLE_CONFIG_OVERRIDE = '#{ENABLE_CONFIG_OVERRIDE}'
script(type='text/javascript' src='config/js/calls.js')
script(type='text/javascript' src='config/js/keys.js')
script(type='text/javascript' src='config/js/datasets.js')
script(type='text/javascript' src='config/js/geodatasets.js')
script(type='text/javascript' src='config/js/webhooks.js')
script(type='text/javascript' src='config/js/config.js')
script(type='text/javascript' src='config/js/websocket.js')
script(type='text/javascript' src='config/pre/RefreshAuth.js')

#leftPanel
  #tbtitle
      //i.logout#config_logout.mdi.mdi-logout.mdi-24px
      a.logout#tbmmgis
        img(src='public/images/logos/mmgis.png' height='24px' style='position: relative; top: 13px;')
      span#tbconfig  Configuration
  a#new_mission.btn.waves-effect.waves-light.col.s12.truncate(style='background-color: rgba(255,255,255,0.12);') New Mission
  ul#missions.mmgisScrollbar
  a#manage_keys.btn.waves-effect.waves-light.col.s12.truncate(style='background-color: rgba(255,255,255,0.12);') API Tokens
  a#manage_datasets.btn.waves-effect.waves-light.col.s12.truncate(style='background-color: rgba(255,255,255,0.12);') Manage Datasets
  a#manage_geodatasets.btn.waves-effect.waves-light.col.s12.truncate(style='background-color: rgba(255,255,255,0.12);') Manage Geodatasets
  a#manage_webhooks.btn.waves-effect.waves-light.col.s12.truncate(style='background-color: rgba(255,255,255,0.12);') Manage Webhooks

#logout
  i.logout#config_logout.mdi.mdi-logout.mdi-24px

#topbar
  #tbtitle
    i.logout#config_logout.mdi.mdi-logout.mdi-24px
    a.logout#tbmmgis
      img(src='public/images/logos/mmgis.png' height='24px' style='position: relative; top: 4px;')
    span#tbconfig  Configuration
  #divline
#mission_bar.row.z-depth-1
  .col.s2(style='padding: 0;')
    a#new_mission.btn.waves-effect.waves-light.col.s12.truncate(style='background-color: rgba(255,255,255,0.12);') New Mission
  .col.s10(style='padding: 0;')
    ul#missions.tabs.mmgisScrollbar
.container_keys
.container_datasets
.container_geodatasets
.container_webhooks
.container
  #home_cont(style='display: none') MMGIS Configuration
  #new_mission_cont(style='display: none; margin-top: 25vh;')
    .row(style='margin-bottom: 0;')
      .col.s12(style='padding: 0;')
        ul.tabs(style='font-weight: bold; font-size: 18px;')
          li.tab.col.s12
            a.active(href='#tab_new_mission') Make a New Mission
      #tab_new_mission.col.s12
        ul#tab_new_mission_rows
          li.row(style='margin-bottom: 10px;')
            #nmmissionEl.input-field.col.s2.push-s5(style='margin-top: 0px;')
              input#nmmission.validate(type='text' value='' style='margin-bottom: 10px;')
              label(for='nmmission') Mission Name
          li
    .row(style='margin: 0px 0 50px 0px;')
        #new_mission_makedirEl.input-field.col.s2.push-s5
          input#new_mission_makedir.filled-in.checkbox-color(type='checkbox' checked='checked')
          label(for='new_mission_makedir' style='color: black;') Create the directory /Missions/{mission} too. All non-absolute URLs in a mission's configuration will be relative to this folder regardless.
    .row
      a#make_mission.btn.waves-effect.waves-light.light-green.darken-3.col.s2.push-s5(style='border-radius: 0px;')
        | Make Mission
        i.mdi.mdi-rocket.mdi-24px(style='float: right; margin-top: 1px;')
  #existing_mission_cont(style='display: none; margin-top: 48px;')
    div(style='height: 48px; width: 100%; background: white; position: fixed; top: 0px; z-index: 20;')
    .row
      .col.s10.push-s1(style='padding: 0; position: fixed; top: 0px; margin-left: 110px; z-index: 21;')
        ul.tabs.mmgisScrollbar
          li.tab.col.s1
            a.active(href='#tab_overall') Overall
          li.tab.col.s1
            a(href='#tab_initial') Initial
          li.tab.col.s1
            a(href='#tab_layers') Layers
          li.tab.col.s1
            a(href='#tab_tools') Tools
          li.tab.col.s1
            a(href='#tab_projection') Projection
          li.tab.col.s1
            a(href='#tab_coordinates') Coordinates
          li.tab.col.s1
            a(href='#tab_look') Look
          li.tab.col.s1
            a(href='#tab_panels') Panels
          li.tab.col.s1
            a(href='#tab_time') Time
      #tab_overall.col.s12
        a.helpFromDocs(href='https://nasa-ammos.github.io/MMGIS/configure/tabs/overall' target='__blank' rel='noopener')
          i.mdi.mdi-help.mdi-14px
        ul#tab_overall_rows
          li.row
            #overall_mission_name.col.s12
          ul#tab_overall_versions.mmgisScrollbar(style='margin: 0px 16.7%; max-height: 50vh; overflow-y: auto;')
          li.row
          a#clone_mission.modal-trigger.btn.waves-effect.waves-light.purple.darken-3.col.s2.push-s2(href='#clone_modal' style='border-radius: 0px; padding: 1px 0.5rem 0 0.5rem; font-size: 12px; line-height: 35px;')
            | Clone Mission
            i.mdi.mdi-content-duplicate.mdi-18px(style='float: left; margin-top: -1px;')
          a#upload_config.btn.waves-effect.waves-light.blue.darken-3.col.s4.push-s2(style='border-radius: 0px; padding: 1px 0.5rem 0 0.5rem; font-size: 12px; line-height: 35px;')
            | Upload a config.json
            i.mdi.mdi-upload.mdi-18px(style='float: right; margin-top: -1px;')
            input#upload_config_input(type='file' accept='.json' style='position: absolute; left: 0; height: 36px; margin: 0; width: 100%; opacity: 0;')
          a#delete_mission.modal-trigger.btn.waves-effect.waves-light.red.darken-3.col.s2.push-s2(href='#delete_modal' style='border-radius: 0px; padding: 1px 0.5rem 0 0.5rem; font-size: 12px; line-height: 35px;')
            | Delete Mission
            i.mdi.mdi-delete.mdi-18px(style='float: right; margin-top: -1px;')
          li.row(style='margin-top: 64px;')
            a#download_working_config.btn.waves-effect.waves-light.brown.darken-3.col.s2.push-s5(style='border-radius: 0px; padding: 1px 0.5rem 0 0.5rem; font-size: 12px; line-height: 35px;')
              | Export unsaved config.json
              i.mdi.mdi-download.mdi-18px(style='float: right; margin-top: -1px;')
      #tab_initial.col.s12
        a.helpFromDocs(href='https://nasa-ammos.github.io/MMGIS/configure/tabs/initial' target='__blank' rel='noopener')
          i.mdi.mdi-help.mdi-14px
        ul#tab_initial_rows
          li.row
            #imissionEl.input-field.col.s4.push-s1
              input#imission.validate(type='text' value='' disabled)
              label(for='imission') Mission Name and Folder
            #isiteEl.input-field.col.s3.push-s1
              input#isite.validate(type='text' value='')
              label(for='isite') Initial Site
            #idbEl.input-field.col.s2.push-s1
              input#idb.filled-in.checkbox-color(type='checkbox')
              label(for='idb' style='color: black;') Master DB
          li
          li.row
            #ilatEl.input-field.col.s3.push-s1
              input#ilat.validate(type='text' value='')
              label(for='ilat') Initial Latitude
            #ilonEl.input-field.col.s3.push-s1
              input#ilon.validate(type='text' value='')
              label(for='ilon') Initial Longitude
            #izoomEl.input-field.col.s4.push-s1
              input#izoom.validate(type='text' value='')
              label(for='izoom') Initial Zoom Level
          li.row
            #iradMajEl.input-field.col.s3.push-s3
              input#iradMaj.validate(type='text' value='')
              label(for='iradMaj') Planet Radius Major (meters)
            #iradMinEl.input-field.col.s3.push-s3
              input#iradMin.validate(type='text' value='')
              label(for='iradMin') Planet Radius Minor (meters)
          li.row
            #imapScaleEl.input-field.col.s2.push-s5
              input#imapScale.validate(type='text' value='')
              label(for='imapScale') Zoom Level of Map Scale
      #tab_projection.col.s12(style='padding-bottom: 15px;')
        a.helpFromDocs(href='https://nasa-ammos.github.io/MMGIS/configure/tabs/projection' target='__blank' rel='noopener')
          i.mdi.mdi-help.mdi-14px
        ul#tab_projection_rows
          li.row
            a#projection_toggleCustom.btn.waves-effect.waves-light.red.darken-3.col.s12(style='border-radius: 0px; margin-top: 25px;')
              i.mdi.mdi-close.mdi-24px(style='float: left;')
              span Using DEFAULT Projection
          li.row
            #projection_epsgEl.input-field.col.s2.push-s1
              input#projection_epsg.validate(type='text' value='')
              label(for='projection_epsg') EPSG (or similar code)
            #projection_projEl.input-field.col.s8.push-s1
              input#projection_proj.validate(type='text' value='')
              label(for='projection_proj') Proj4 v2.3.14 String
          li.row
            #projection_xmlPathEl.input-field.col.s8.push-s1
              input#projection_xmlPath.validate(type='text' value='')
              label(for='projection_xmlPath') Path to tilemapresource.xml (from MMGIS home directory)
            a#projection_populateFromXml.btn.waves-effect.waves-light.light-green.darken-3.col.s2.push-s1(style='border-radius: 0px; margin-top: 25px;') Populate from XML
          .col.s10.push-s1(style='background: #f8f8f8; border: 5px solid #e0e0e0; color: #000000;')
            li.row(style='margin-top: 15px;')
              #projection_boundsMinXEl.input-field.col.s3
                input#projection_boundsMinX.validate(type='text' value='')
                label(for='projection_boundsMinX') Bounds MinX
              #projection_boundsMinYEl.input-field.col.s3
                input#projection_boundsMinY.validate(type='text' value='')
                label(for='projection_boundsMinY') Bounds MinY
              #projection_boundsMaxXEl.input-field.col.s3
                input#projection_boundsMaxX.validate(type='text' value='')
                label(for='projection_boundsMaxX') Bounds MaxX
              #projection_boundsMaxYEl.input-field.col.s3
                input#projection_boundsMaxY.validate(type='text' value='')
                label(for='projection_boundsMaxY') Bounds MaxY
            li.row
              #projection_originXEl.input-field.col.s4.push-s2
                input#projection_originX.validate(type='text' value='')
                label(for='projection_originX') Origin X
              #projection_originYEl.input-field.col.s4.push-s2
                input#projection_originY.validate(type='text' value='')
                label(for='projection_originY') Origin Y
            li.row
              #projection_resZEl.input-field.col.s2.push-s3
                input#projection_resZ.validate(type='text' value='')
                label(for='projection_resZ') At zoom level
              #projection_resEl.input-field.col.s4.push-s3
                input#projection_res.validate(type='text' value='')
                label(for='projection_res') the units per pixel are

      #tab_coordinates.col.s12
        a.helpFromDocs(href='https://nasa-ammos.github.io/MMGIS/configure/tabs/coordinates' target='__blank' rel='noopener')
          i.mdi.mdi-help.mdi-14px
        ul#tab_coordinates_rows
          li.row.title
            .col.s2.push-s1 Coordinates
          li.row
            #coordinates_coordllEl.input-field.col.s2.push-s1
              input#coordinates_coordll.filled-in.checkbox-color(type='checkbox')
              label(for='coordinates_coordll' style='color: black;') Longitude, Latitude
            #coordinates_coordllElMain.input-field.col.s2.push-s8(title="Is Main Coordinate Type")
                input#coordinates_coordllMain.coordinates_coordMain(name="main_coord" type="radio" value="ll" checked)
                label(for='coordinates_coordllMain')
          li.row(style='margin-bottom: 0px;')
            #coordinates_coordlngoffsetEl.input-field.col.s2.push-s2
              input#coordinates_coordlngoffset.validate(type='text' value='')
              label(for='coordinates_coordlngoffset') Longitude Display Offset
            #coordinates_coordlatoffsetEl.input-field.col.s2.push-s2
              input#coordinates_coordlatoffset.validate(type='text' value='')
              label(for='coordinates_coordlatoffset') Latitude Display Offset
          li.row
            #coordinates_coordenEl.input-field.col.s2.push-s1
              input#coordinates_coorden.filled-in.checkbox-color(type='checkbox')
              label(for='coordinates_coorden' style='color: black;') Easting, Northing
            #coordinates_coordenElMain.input-field.col.s2.push-s8(title="Is Main Coordinate Type")
              input#coordinates_coordenMain.coordinates_coordMain(name="main_coord" type="radio" value="en")
              label(for='coordinates_coordenMain')
          li.row(style='margin-bottom: 0px;')
            #coordinates_coordeastoffsetEl.input-field.col.s2.push-s2
              input#coordinates_coordeastoffset.validate(type='text' value='')
              label(for='coordinates_coordeastoffset') Easting Display Offset
            #coordinates_coordnorthoffsetEl.input-field.col.s2.push-s2
              input#coordinates_coordnorthoffset.validate(type='text' value='')
              label(for='coordinates_coordnorthoffset') Northing Display Offset
            #coordinates_coordeastmultEl.input-field.col.s2.push-s2
              input#coordinates_coordeastmult.validate(type='text' value='')
              label(for='coordinates_coordeastmult') Easting Display Multiplier
            #coordinates_coordnorthmultEl.input-field.col.s2.push-s2
              input#coordinates_coordnorthmult.validate(type='text' value='')
              label(for='coordinates_coordnorthmult') Northing Display Multiplier
          li.row
            #coordinates_coordcprojEl.input-field.col.s2.push-s1
              input#coordinates_coordcproj.filled-in.checkbox-color(type='checkbox')
              label(for='coordinates_coordcproj' style='color: black;') Primary Projection
            #coordinates_coordcprojElMain.input-field.col.s2.push-s8(title="Is Main Coordinate Type")
              input#coordinates_coordcprojMain.coordinates_coordMain(name="main_coord" type="radio" value="cproj")
              label(for='coordinates_coordcprojMain')
          li.row 
            #coordinates_coordcprojnameEl.input-field.col.s2.push-s2
              input#coordinates_coordcprojname.validate(type='text' value='')
              label(for='coordinates_coordcprojname') Display Name
            #coordinates_coordcprojnamexEl.input-field.col.s2.push-s2
              input#coordinates_coordcprojnamex.validate(type='text' value='')
              label(for='coordinates_coordcprojnamex') X Coordinate Label
            #coordinates_coordcprojnameyEl.input-field.col.s2.push-s2
              input#coordinates_coordcprojnamey.validate(type='text' value='')
              label(for='coordinates_coordcprojnamey') Y Coordinate Label
            #coordinates_coordcprojnamezEl.input-field.col.s2.push-s2
              input#coordinates_coordcprojnamez.validate(type='text' value='')
              label(for='coordinates_coordcprojnamez') Z Coordinate Label
          li.row
            #coordinates_coordcprojstrEl.input-field.col.s8.push-s2
              div(style="color: #666; text-align: center;") &lpar;Uses the PROJ4 String defined in the Projection Tab&rpar;
          li.row
            #coordinates_coordsprojEl.input-field.col.s2.push-s1
              input#coordinates_coordsproj.filled-in.checkbox-color(type='checkbox')
              label(for='coordinates_coordsproj' style='color: black;') Secondary Projection
            #coordinates_coordsprojElMain.input-field.col.s2.push-s8(title="Is Main Coordinate Type")
              input#coordinates_coordsprojMain.coordinates_coordMain(name="main_coord" type="radio" value="sproj")
              label(for='coordinates_coordsprojMain')
          li.row 
            #coordinates_coordsprojnameEl.input-field.col.s2.push-s2
              input#coordinates_coordsprojname.validate(type='text' value='')
              label(for='coordinates_coordsprojname') Display Name
            #coordinates_coordsprojnamexEl.input-field.col.s2.push-s2
              input#coordinates_coordsprojnamex.validate(type='text' value='')
              label(for='coordinates_coordsprojnamex') X Coordinate Label
            #coordinates_coordsprojnameyEl.input-field.col.s2.push-s2
              input#coordinates_coordsprojnamey.validate(type='text' value='')
              label(for='coordinates_coordsprojnamey') Y Coordinate Label
            #coordinates_coordsprojnamezEl.input-field.col.s2.push-s2
              input#coordinates_coordsprojnamez.validate(type='text' value='')
              label(for='coordinates_coordsprojnamez') Z Coordinate Label
          li.row
            #coordinates_coordsprojstrEl.input-field.col.s8.push-s2
              input#coordinates_coordsprojstr.validate(type='text' value='')
              label(for='coordinates_coordsprojstr') PROJ4 String
          li.row
            #coordinates_coordrxyEl.input-field.col.s2.push-s1
              input#coordinates_coordrxy.filled-in.checkbox-color(type='checkbox')
              label(for='coordinates_coordrxy' style='color: black;') Relative X, Y, (Z)
          li.row
            #coordinates_coordsiteEl.input-field.col.s2.push-s1
              input#coordinates_coordsite.filled-in.checkbox-color(type='checkbox')
              label(for='coordinates_coordsite' style='color: black;') Relative Y, X, (-Z)
          li.row.title(style='margin-top: 45px;')
            .col.s2.push-s1 Elevation
          li.row(style='padding-bottom: 0px;')
            #coordinates_coordelevEl.input-field.col.s2.push-s1
              input#coordinates_coordelev.filled-in.checkbox-color(type='checkbox')
              label(for='coordinates_coordelev' style='color: black;') With Elevation
            #coordinates_coordelevurlEl.input-field.col.s7.push-s1
              input#coordinates_coordelevurl.validate(type='text' value='')
              label(for='coordinates_coordelevurl') DEM URL
          li.row.title(style='margin-top: 45px;')
            .col.s2.push-s1 Raw Variables
            .col.s6.push-s3(style='text-align: center; background-color: rgba(0,0,0,0.06); position: relative; padding: 0;')
              a.waves-effect.waves-light.modal-trigger(href='#coordinatesVariables_modal' style='color: #111; width: 100%;') Click for configuration documentation 
              i.mdi.mdi-information.mdi-18px(style='position: absolute; right: 2px; top: -2px; color: #444;')

          li.row(style='padding-bottom: 0px;') 
            #coordinates_variablseEl.input-field.col.s10.push-s1
              textarea#coordinatesVariables

      #tab_look.col.s12
        a.helpFromDocs(href='https://nasa-ammos.github.io/MMGIS/configure/tabs/look' target='__blank' rel='noopener')
          i.mdi.mdi-help.mdi-14px
        ul#tab_look_rows
          li.row.title
            .col.s2.push-s2 Rebranding 
          li.row
            #look_pagenameEl.input-field.col.s2.push-s2
              input#look_pagename.validate(type='text' value='')
              label(for='look_pagename') Page Name
            #look_logourlEl.input-field.col.s6.push-s2
              input#look_logourl.validate(type='text' value='')
              label(for='look_logourl') Square Logo Image URL
          li.row.title
            .col.s2.push-s2 User Interface 
          li.row.checkboxRow
            #look_minimalistEl.input-field.col.s2.push-s2(style='display:none')
              input#look_minimalist.filled-in.checkbox-color(type='checkbox')
              label(for='look_minimalist' style='color: black;') Minimalist UI
            #look_topbarEl.input-field.col.s2.push-s2
              input#look_topbar.filled-in.checkbox-color(type='checkbox')
              label(for='look_topbar' style='color: black;') Top Bar
            #look_toolbarEl.input-field.col.s2.push-s2
              input#look_toolbar.filled-in.checkbox-color(type='checkbox')
              label(for='look_toolbar' style='color: black;') Tool Bar
            #look_scalebarEl.input-field.col.s2.push-s2
              input#look_scalebar.filled-in.checkbox-color(type='checkbox')
              label(for='look_scalebar' style='color: black;') Scale Bar
            #look_coordinatesEl.input-field.col.s2.push-s2
              input#look_coordinates.filled-in.checkbox-color(type='checkbox')
              label(for='look_coordinates' style='color: black;') Coordinates
          li.row.checkboxRow
            #look_zoomcontrolEl.input-field.col.s2.push-s2
              input#look_zoomcontrol.filled-in.checkbox-color(type='checkbox')
              label(for='look_zoomcontrol' style='color: black;') Map Zoom Control
            #look_graticuleEl.input-field.col.s2.push-s2
              input#look_graticule.filled-in.checkbox-color(type='checkbox')
              label(for='look_graticule' style='color: black;') Map Graticule
            #look_miscellaneousEl.input-field.col.s2.push-s2
              input#look_miscellaneous.filled-in.checkbox-color(type='checkbox')
              label(for='look_miscellaneous' style='color: black;') Miscellaneous
            #look_settingsEl.input-field.col.s2.push-s2
              input#look_settings.filled-in.checkbox-color(type='checkbox')
              label(for='look_settings' style='color: black;') Settings

          li.row.title
            .col.s2.push-s2 Colors 
          li.row
            #look_primarycolorEl.input-field.col.s2.push-s2
              input#look_primarycolor.validate(type='text' value='')
              label(for='look_primarycolor') Primary Color
            #look_secondarycolorEl.input-field.col.s2.push-s2
              input#look_secondarycolor.validate(type='text' value='')
              label(for='look_secondarycolor') Secondary Color
            #look_tertiarycolorEl.input-field.col.s2.push-s2
              input#look_tertiarycolor.validate(type='text' value='')
              label(for='look_tertiarycolor') Tertiary Color
            #look_accentcolorEl.input-field.col.s2.push-s2
              input#look_accentcolor.validate(type='text' value='')
              label(for='look_accentcolor') Accent Color
          li.row
            #look_bodycolorEl.input-field.col.s2.push-s2
              input#look_bodycolor.validate(type='text' value='')
              label(for='look_bodycolor') Body Color
            #look_topbarcolorEl.input-field.col.s2.push-s2
              input#look_topbarcolor.validate(type='text' value='')
              label(for='look_topbarcolor') TopBar Color
            #look_toolbarcolorEl.input-field.col.s2.push-s2
              input#look_toolbarcolor.validate(type='text' value='')
              label(for='look_toolbarcolor') ToolBar Color
            #look_mapcolorEl.input-field.col.s2.push-s2
              input#look_mapcolor.validate(type='text' value='')
              label(for='look_mapcolor') Map Color
          li.row
            #look_highlightcolorEl.input-field.col.s2.push-s2
              input#look_highlightcolor.validate(type='text' value='')
              label(for='look_highlightcolor') Highlight Color

          li.row.title
            .col.s2.push-s2 Secondary tools 
          li.row.checkboxRow
            #look_copylinkEl.input-field.col.s2.push-s2
              input#look_copylink.filled-in.checkbox-color(type='checkbox')
              label(for='look_copylink' style='color: black;') Copy link
            #look_screenshotEl.input-field.col.s2.push-s2
              input#look_screenshot.filled-in.checkbox-color(type='checkbox')
              label(for='look_screenshot' style='color: black;') Screenshot
            #look_fullscreenEl.input-field.col.s2.push-s2
              input#look_fullscreen.filled-in.checkbox-color(type='checkbox')
              label(for='look_fullscreen' style='color: black;') Fullscreen
          li.row.title
            .col.s2.push-s2 User Info
          li.row.checkboxRow
            #look_helpEl.input-field.col.s2.push-s2
              input#look_info.filled-in.checkbox-color(type='checkbox')
              label(for='look_info' style='color: black;') Info
            #look_helpurlEl.input-field.col.s6.push-s2
              input#look_infourl.validate(type='text' value='')
              label(for='look_infourl') Info URL
          li.row.title
            .col.s2.push-s2 User Help
          li.row.checkboxRow
            #look_helpEl.input-field.col.s2.push-s2
              input#look_help.filled-in.checkbox-color(type='checkbox')
              label(for='look_help' style='color: black;') Help
            #look_helpurlEl.input-field.col.s6.push-s2
              input#look_helpurl.validate(type='text' value='')
              label(for='look_helpurl') Help URL
            
      #tab_panels.col.s8.push-s2
        a.helpFromDocs(href='https://nasa-ammos.github.io/MMGIS/configure/tabs/panels' target='__blank' rel='noopener')
          i.mdi.mdi-help.mdi-14px
        p
          input#panels_viewer.filled-in.checkbox-color(type='checkbox')
          label(for='panels_viewer' style='color: black;') Viewer
        p
          input#panels_map.filled-in.checkbox-color(disabled='' type='checkbox')
          label(for='panels_map' style='color: black;') Map (mandatory)
        p
          input#panels_globe.filled-in.checkbox-color(type='checkbox')
          label(for='panels_globe' style='color: black;') Globe
        ul
          li.row
              #panels_globeDemFallbackPathEl.input-field.col.s8
                input#panels_globeDemFallbackPath.validate(type='text' value='')
                label(for='panels_globeDemFallbackPath') DEM Fallback URL
              #panels_globeDemFallbackFormatEL.input-field.col.s2
                select#panels_globeDemFallbackFormat
                  option(value='tms') TMS 
                  option(value='wmts') WMTS
                  option(value='wms') WMS
                label(for='panels_globeDemFallbackFormat') Fallback Format
              #panels_globeDemFallbackTypeEL.input-field.col.s2
                select#panels_globeDemFallbackType
                  option(value='rgba') RGBA 
                  option(value='tif') TIF
                label(for='panels_globeDemFallbackType') Fallback Type

      #tab_time.col.s12
        a.helpFromDocs(href='https://nasa-ammos.github.io/MMGIS/configure/tabs/time' target='__blank' rel='noopener')
          i.mdi.mdi-help.mdi-14px
        ul#tab_time_rows
          li.row.title
            .col.s2.push-s2 User Interface 
          li.row
            #time_enabledEl.input-field.col.s2.push-s2
              input#time_enabled.filled-in.checkbox-color(type='checkbox')
              label(for='time_enabled' style='color: black;') Enabled
            #time_visibledEl.input-field.col.s2.push-s2
              input#time_visible.filled-in.checkbox-color(type='checkbox')
              label(for='time_visible' style='color: black;') Visible
            #time_initiallyOpenEl.input-field.col.s2.push-s2
              input#time_initiallyOpen.filled-in.checkbox-color(type='checkbox')
              label(for='time_initiallyOpen' style='color: black;') Initially Open
            #time_startInPointModeEl.input-field.col.s2.push-s2
              input#time_startInPointMode.filled-in.checkbox-color(type='checkbox')
              label(for='time_startInPointMode' style='color: black;') Start In Point Mode
          li.row.title
            .col.s2.push-s2 Settings 
          li.row
            #time_format_row.input-field.col.s3.push-s2
              input#time_format.validate(type='text' value='%Y-%m-%dT%H:%M:%SZ')
              label(for='time_format') Time Format
          li.row
            #time_initialstartEl.input-field.col.s3.push-s2
              input#time_initialstart.validate(type='text' value='' title="Parsable time (defaults to a month before the end time)")
              label(for='time_initialstart') Initial Start Time
            #time_initialendEl.input-field.col.s3.push-s2
              input#time_initialend.validate(type='text' value='now' title="Parsable time (default to 'now')")
              label(for='time_initialend') Initial End Time
          li.row   
            #time_initialwindowstartEl.input-field.col.s3.push-s2
              input#time_initialwindowstart.validate(type='text' value='' title="Parsable time (defaults to the Initial Start Time)")
              label(for='time_initialwindowstart') Initial Timeline Window Start Time
            #time_initialwindowendEl.input-field.col.s3.push-s2
              input#time_initialwindowend.validate(type='text' value='now' title="Parsable time (default to the Initial End TIme)")
              label(for='time_initialwindowend') Initial Timeline Window End Time

      #tab_tools.col.s12
        a.helpFromDocs(href='https://nasa-ammos.github.io/MMGIS/configure/tabs/tools' target='__blank' rel='noopener')
          i.mdi.mdi-help.mdi-14px
        ul#tab_tools_rows
      #tab_layers.col.s12
        a.helpFromDocs(href='https://nasa-ammos.github.io/MMGIS/configure/tabs/layers' target='__blank' rel='noopener')
          i.mdi.mdi-help.mdi-14px
        ul#tab_layers_rows(style='margin-top: 20px;')
        #add_new_layer.row
          a.btn.waves-effect.col.s2.push-s9(style='color: black; background: white;')
            | Add Layer
            i.mdi.mdi-plus.mdi-24px(style='float: right; margin-top: 1px;')
    #modal_divs
    #clone_modal.modal(style='width: 40%;')
      .modal-content(style='padding-bottom: 0;')
        h4(style='color: #000; text-align: center; font-weight: bold;')
        .row(style='margin-bottom: 0px;')
          #cloneNameEl.input-field.col.s8.push-s2
            input#cloneName.validate(type='text' value='')
            label(for='cloneName') Clone name
        .row(style='margin: 0px 0 45px 0px;')
          #clonePasswordEl.input-field.col.s8.push-s2
            input#clonePaths.filled-in.checkbox-color(type='checkbox')
            label(for='clonePaths' style='color: black;') Adjust new paths so that they still point to the same data (../{mission}) 
      .modal-footer(style='background-color: #1565c0;')
        a#clone_mission_cancel.modal-action.modal-close.btn-flat.waves-effect.waves-light.col.s12.left(style='border-radius: 0px; color: white;') Cancel
        a#clone_mission_clone.modal-action.modal-close.btn-flat.waves-effect.waves-light.col.s12(style='border-radius: 0px; color: white;')
          | Clone Mission
          i.mdi.mdi-content-duplicate.mdi-24px(style='float: right; margin-top: 1px; padding-left: 5px;')
    #delete_modal.modal(style='width: 40%;')
      .modal-content(style='padding-bottom: 0;')
        h4(style='color: #000; text-align: center; font-weight: bold;')
        .row(style='text-align: center;')
          | Are you sure? None of the mission's data files will be deleted.
        .row
          #deleteMissionNameEl.input-field.col.s8.push-s2
            input#deleteMissionName.validate(type='text' value='')
            label(for='deleteMissionName') Confirm mission name
      .modal-footer(style='background-color: #c62828;')
        a#delete_mission_cancel.modal-action.modal-close.btn-flat.waves-effect.waves-light.col.s12.left(style='border-radius: 0px; color: white;') Cancel
        a#delete_mission_delete.modal-action.modal-close.btn-flat.waves-effect.waves-light.col.s12(style='border-radius: 0px; color: white;')
          | Delete Mission
          i.mdi.mdi-delete.mdi-24px(style='float: right; margin-top: 1px; padding-left: 5px;')
    #coordinatesVariables_modal.modal
      .modal-content(style='padding-bottom: 0;')
        h4 Coordinates Raw Variables
        #coordinatesVariables_info(style='margin-bottom: 0;')
          #coordinatesVariables_title
          hr
          #coordinatesVariables_content
            pre#coordinatesVariables_example
      .modal-footer
        a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#!') Done
    .row
    #info_modal.modal
      .modal-content(style='padding-bottom: 0;')
        h4 Modal Header
        #info_info(style='margin-bottom: 0;')
            #info_title
            hr
            #info_content
              pre#info_example
      .modal-footer
        a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#!') Done
    .row
      a#save_changes.btn.waves-effect.waves-light.light-green.darken-3.col.s1.push-s9(style='text-align: left; padding: 0; padding-left: 10px; line-height: 37px; width: 220px; border-radius: 0px; position: fixed; bottom: 10px; right: 10px; z-index: 21; background: #1565C0 !important;')
        | Save Changes
        i.mdi.mdi-content-save.mdi-24px(style='position: absolute; right: 7px; margin-top: -2px;')