doctype html
head
  title MMGIS
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0')
  link(id='favicon' rel='shortcut icon' href='../resources/logo.png')
  link(type='text/css' rel='stylesheet' href='../public/fonts/materialdesignicons/css/materialdesignicons.min.css')
  link(href='../css/external/jquery-ui.css' rel='stylesheet' type='text/css')
  link(href='../scripts/external/SemanticUI/semantic.min.css' rel='stylesheet' type='text/css')
  link(href='../scripts/external/Leaflet/leaflet1.5.1.css' rel='stylesheet' type='text/css')
  link(href='../scripts/external/Leaflet/leaflet.draw.css' rel='stylesheet' type='text/css')
  link(href='../css/external/leaflet.label.css' rel='stylesheet' type='text/css')
  link(href='../css/external/multirange.css' rel='stylesheet' type='text/css')
  link(href='../scripts/external/MetricsGraphics/metricsgraphics.css' rel='stylesheet' type='text/css')
  link(href='../scripts/external/MetricsGraphics/metricsgraphics-dark.css' rel='stylesheet' type='text/css')
  link(href='../scripts/external/JSONViewer/jquery.json-viewer.css' rel='stylesheet' type='text/css')
  link(href='../scripts/external/DataTables/datatables.css' rel='stylesheet' type='text/css')
  link(href='../scripts/essence/LandingPage/LandingPage.css' rel='stylesheet' type='text/css')
  link(href='../css/mmgis.css' rel='stylesheet' type='text/css')
  link(href='../css/mmgisUI.css' rel='stylesheet' type='text/css')
  link(href='../css/tools.css' rel='stylesheet' type='text/css')
  link(href='../scripts/pre/loading/loading.css' rel='stylesheet' type='text/css')
#main-container
footer
  script.
    var mmgisglobal = {};
    mmgisglobal.name = 'MMGIS';
    mmgisglobal.version = '1.3.2';
    mmgisglobal.SERVER = 'node';
    mmgisglobal.AUTH = '#{AUTH}';
    mmgisglobal.user = '#{user}';
    mmgisglobal.permission = '#{permission}';
    mmgisglobal.groups = '#{groups}';
    mmgisglobal.NODE_ENV = '#{NODE_ENV}';
    mmgisglobal.CONFIGCONFIG_PATH = '#{CONFIGCONFIG_PATH}';
    mmgisglobal.FORCE_CONFIG_PATH = '#{FORCE_CONFIG_PATH}';
    mmgisglobal.HOSTS = '#{HOSTS}'
    console.info(
      '███╗   ███╗███╗   ███╗ ██████╗ ██╗███████╗' + ' v' + mmgisglobal.version + '\n'
    + '████╗ ████║████╗ ████║██╔════╝ ██║██╔════╝' + '  Leaflet 1.5.1\n'
    + '██╔████╔██║██╔████╔██║██║  ███╗██║███████╗' + '  THREE r112\n'
    + '██║╚██╔╝██║██║╚██╔╝██║██║   ██║██║╚════██║' + '\n'
    + '██║ ╚═╝ ██║██║ ╚═╝ ██║╚██████╔╝██║███████║' + '\n'
    + '╚═╝     ╚═╝╚═╝     ╚═╝ ╚═════╝ ╚═╝╚══════╝' );
  //Still some problems loading tools
  //link(href='dist/mmgis.min.css' rel='stylesheet' type='text/css')
  //script(src='scripts/require.js')
  //script(src='dist/mmgis.min.js')
  script(src='../scripts/pre/toolConfigs.js')
  script(src='../scripts/pre/loading/loading.js')
  script(src='../scripts/pre/calls.js')
  script(src='../scripts/configure.js')
  script(data-main='main' src='../scripts/require.js')
  script(src='scripts/pre/RefreshAuth.js')